*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.card{
   border-radius: 8px;
   margin-bottom: 5px;
   /* box-shadow:  0 2px 15px rgb(34 60 47 / 25%) !important; */
   box-shadow: 0 0 0 1px rgb(0 0 0 / 15%), 0 2px 3px rgb(0 0 0 / 20%);
   
}


.card-title{

    border-top-left-radius:  8px;
    border-top-right-radius:  8px;
    background-color: #909090 ;
    padding: 10px;
    border:0;
}
.card-title.ativo{
    background-color: lime ;
}


.card-details{
    /* background-color: olive; */
    /* outline: 1px solid lime; */
    
    
}

.card-specific{
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 14px;
    color:#0009;
}


.status{
    background: #ddd;
    font-size: 12px;
    text-align: center;
    border-radius: 8px;
    padding: 2px 5px;
    border: 0;


}
.status.ligado{
 background-color: #00ff0068;
}



