article{
    padding: 30px;
}

article h2{
    font-size: 2.2em;
    /* max-width:800px; */
    color: #088475;
}

article video{
    display: block;
    width: 100%;
}

article p{
    margin-top: 30px;
    color: #777;
    line-height: 2em;
}



/* @media screen and (max-width:1200px){
    article{
        grid-column:span 2;
    }
}

@media screen and (max-width:980px){
    article{
        grid-column:span 3;
        outline:2px dotted orange;
    }   
} */
