*,*:after,*:before{
    box-sizing: border-box;
}


:root{
    --bg:#36393f;
    --accent:#8b8b8b;
    --text-primary:#000000e6;
    --cinza-claro:#00000014;
    --branco:#fff;
}


.card{
   border: 1px solid var(--cinza-claro);
    background-color: var(--branco);
    margin-left: auto;
    margin-right: auto;
  
}

.card:nth-of-type(1){
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
.card:last-child ,
.card:last-child .card_body{
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.card >*{
    padding: 0px 1rem;
    
}

.card_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:var(--text-primary);
}

.card_header .titulo{
    font-weight: 400;
    letter-spacing: 2px;
}
.card_body{

}


.card_body ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    
}

.card_body li{
    padding: 0;
    margin: 0;
    
    width: 70px;

    /* outline: 1px solid #ddd; */
    margin-bottom: 15px;
    
}

.card_body li:hover{
    transition:all .6s cubic-bezier(0.4,0,0.2,1);
   
}

.card_body li > *{
    display: block;
    text-align: center;
    
}

.card_body li > span:nth-child(1){
    color:var(--accent);
    font-weight: 600;
}
.card_body li > span:nth-child(2){
    color:#00000099;
    font-size: 12px;
    
}

.card_footer{


}
.optionsBtnContainer{

    opacity:0.5;
}


.optionsBtn{
    background-color:  rgba(220, 213, 213, 0.627);
    background-color:  #f0f2f50f;
    opacity:0.5;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    border: none;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 30;
    position: relative;
    transition: all .2s .3s ease-out;
    color:#000;
}

.optionsBtn:hover{
    transform: rotateZ(270deg);
    transition: all .2s .3s ease-in;
    background-color: var(--cinza-claro);
    color:#000;
}
.optionsBtn:before{
    content: '';
    
    z-index: -1;
    position: absolute;
    top:0px;
    right:0px;
    left: 0px;
    bottom: 0px;
   
  
    width: 30px;
    height: 30px;
    transition:all .2s .8s cubic-bezier(0.4,0,0.2,1);
    border-radius: 50%;
    opacity: 1;
    /* outline: 2px solid    #f0f2f552; */
    z-index: -1;
    
}



.optionsBtn:hover:before {
    transform: scale(1.1,1.1);
    outline: 2px solid darkgray;
    transition:all .2s .8s cubic-bezier(0.4,0,0.2,1);
}