*,*:after,*:before{
    box-sizing: border-box;
}

.card{
    border: 1px solid #ddd;
    max-width: 400px;
    margin-bottom: 1rem;
    background-color: #9e9e9e;
    background-color: #e8f0fe;
    background-color: #e8f0fe56;
}

.card >*{
    padding: 1rem;
}

.card_header{
    /* border-bottom: 1px solid #ddd; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.card_body{
    /* border: 1px solid #ddd; */
    
}

.card_body ul{
    display: flex;
    justify-content: space-between;
    align-items:center;
    list-style: none;
    /* outline: 1px solid orange; */
    
}

.card_body li{
    /* text-align: left; */
    padding: 0;
    margin: 0;
}

.card_body li > *{
    display: block;
    text-align: center;
}

.card_footer{
    border-bottom: 1px solid #ddd;

}
.optionsBtnContainer{
    border-bottom: 1px solid #ddd;
    opacity:0.5;
}


.optionsBtn{
    background-color:  rgba(220, 213, 213, 0.627);
    opacity:0.5;
    border-radius: 50%;
    padding: 3px;
    font-size: 20px;
    border: none;
    /* transform: rotateZ(90deg); */
    line-height: 15px;
    width:30px;
    height: 30px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    z-index: 30;
    position: relative;
    transition: all .2s .3s ease-out;
}

.optionsBtn:hover{
    transform: rotateZ(90deg);
    transition: all .2s .3s ease-in;
    border: 1px solid #777;
    /* background-color:  rgb(64, 0, 255); */
    /* color:#fff; */
}
.optionsBtn:before{
    content: '';

    z-index: -1;
    position: absolute;
    top:0px;
    right:0px;
    left: 0;
    bottom: 0;
  
    width: 30px;
    height: 30px;
    transition:all .2s .8s cubic-bezier(0.4,0,0.2,1);
    /* opacity: 1; */
    border-radius: 50%;
    opacity: 1;
    outline: 2px solid #ddd;
    transform-origin: 50% 50%;
    z-index: -1;
    
}



.optionsBtn:hover::before {
   
    transform: scale(1.3,1.3);
    transition:all .2s .8s cubic-bezier(0.4,0,0.2,1);
    background-image: radial-gradient(rgba(255, 255, 255, 0.053),rgba(255, 255, 255, 0.769));
    
    
}