@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    /* background-color: #f7faf9 !important; */

   background-image: url("./imgs/bg.png"), linear-gradient(#f4f0eb,#f4f0eb);
   background-attachment: fixed;    
   background-repeat: repeat;
   background-size: contain;
}
.main-content{
    min-height: 90vh;
    border: 1px solid #dadce0;
}

/*O container é composto por tres colunas de tamanhos diferentes*/
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap:30px;
   
}

@media screen and (max-width:1200px){
    .main-content{
        grid-column:span 2;
    }
}

@media screen and (max-width:980px){
    .main-content{
        grid-column:span 3;
        /* outline:2px dotted orange; */
    }   
}

