@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

body{
    margin: 0;
    font-family: "Poppins",sans-serif;
    /* background-color: #f7faf9 !important; */

   background-image: url("./imgs/bg.png"), linear-gradient(#f4f0eb,#f4f0eb);
   /* background-image: url("./imgs/bg.png"), linear-gradient(#ebe6e0,#9f5b07f6); */
   background-attachment: fixed;    
   background-repeat: repeat;
   background-size: contain;
   /* background-color: #15161bca !important; */
}
.main-content{
    min-height: 90vh;
    /* border: 1px solid #dadce0; */
    
    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);
   
}

/*O container é composto por tres colunas de tamanhos diferentes*/
.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    column-gap:20px;
   
}

@media screen and (max-width:1200px){
    .main-content{
        grid-column:span 2;
    }
}

@media screen and (max-width:980px){
    .main-content{
        grid-column:span 3;
        /* outline:2px dotted orange; */
    }   
}

