nav{
    padding: 30px;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    


    background: rgba(255, 255, 255, 0.11);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

   
}

nav  a{
    text-decoration: none;
    color:#088475;
    font-weight:bold;
    letter-spacing: 1.2px;
    line-height: 40px;
}

@media (max-width:1200px){
    nav{
        grid-column:span 3;
        border-right:0;
        border-bottom:1px solid #ddd;
        background-color: #088475;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        
    }
    nav a, nav p{
        color:#fff;
    }
}

@media screen and (max-width:980px){
 nav{
     grid-column:span 3;
 }   
}

@media (min-width:981px){
    nav{
        margin: 0 1rem;
    }
}