nav{
    padding: 30px;
    border: 1px solid #ddd;

    display: flex;
    flex-direction: column;
    


    background: rgba(255, 255, 255, 0.11);
    background-color: #fff;
    border:0;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(1px);
    -webkit-backdrop-filter: blur(1px);

   
}

nav  a{
    text-decoration: none;
    color:#00934f;
    font-weight:500;
    letter-spacing: 1.2px;
    line-height: 40px;
}

@media (max-width:1200px){
    nav{
        grid-column:span 3;
        border-right:0;
        border-bottom:1px solid #ddd;
   
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: #000;
        
    }
    nav a, nav p{
        color:olivedrab;
    }
}

@media screen and (max-width:900px){
 .nav{
     padding: 10px;
     background-color: orange;
 }
 .nav{
     grid-column:span 3;
 
 }   
}

@media (min-width:981px){
    nav{
        margin:   0px;

        background-color: #000;
    }
}