.modal{
    width:100%;
   height: 100%;
    border: 1px solid #ddd;
    color:#fff;
    display: block;
 position: absolute;

 top:0px;
 left:0px;
 bottom: 0px;
 right:0px;


    z-index: 10001;
    padding: 1rem;
    background-color: cornsilk;
}

.overlay{
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index: 10000;
    background:rgba(0,0,0,0.7);
    transition: all .2s;
    

}






.modal__body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal__footer{
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.endereco{
    margin: 20px auto;
    color:#000;
    background-color: #fff;
    box-shadow: rgb(0 0 0 / 10%) 0 4px 6px -1px, rgb(0 0 0 / 6%) 0 2px 4px -1px;  
    padding: 1rem 3rem;
    width:100%;
    overflow-y: auto;

    max-width: 300px;
}


/* BOTAO DO CARTAO DE ENDEREÇO */
.endereco__acoes{
   margin-top: 20px;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.endereco__acao--btn{
 background-color: #fff;
 padding: .3rem .4rem;
 border-radius: 8px;
}