
:root {
    --bg: #323031;
    --secondary: #f6c902;
    --accent: #f78c1e;
    --primary: #ff6000;
    --borda: #dddddd72;
    --form-color: #367bde;
    --verde: #00934f;
    --cinza: #272f40;
}

header{
    grid-column: span 3;

    text-align: center;
    background-color:var(--bg);
    background-color: #000105;
    color:#fff;
   /* margin-bottom: 1rem; */
}

header .titulo{
    margin-bottom: 0;
    letter-spacing: 10px;
    text-transform: uppercase;
}
