

.lista{
   padding: 0;
    list-style: none;
    
   
}

.specific-details{
    /* outline: 1px solid orchid; */
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
    /* outline: 1px solid olive !important; */
}

.specific-details > *{
    padding: 0;
    margin: 0;
}

.action-box{
    display: flex;
    justify-content: space-between;
    /* background-color:lightgray !important; */
}

.action-box button{
   
    border:0;
    background-color: transparent;

  
    flex:1;
    cursor: pointer;
    font-size: 13px;
    color:#0009;
    padding: 6px;
    letter-spacing: 1px;
    color:#909090;
    font-weight:500;
    background-color: #ddd;
}

.action-box button:hover{
    /* background-color: #0001; */
    background-color:#ebebeb;
    color:#000;
}
.action-box button:first-child{
    border-bottom-left-radius: 6px;
    border-right:1px solid #eee;
}
.action-box button:last-child{
    border-bottom-right-radius: 6px;
    border-left:1px solid #eee;
   
}